<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Product schema uri:</strong>
  <%= @shop.product_schema_uri %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @shop.enabled %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
