<tr class="<%= view_model.css_classes %>">
  <td><%= view_model.job_id %></td>
  <td><%= view_set_link_with_size(view_model.job_input_set) %></td>
  <td><%= view_model.status_label %></td>
  <td><%= view_model.concluded_date %></td>
  <td><%= view_set_link_with_size(view_model.job_output_set) %></td>

  <% if view_model.has_revised_set? %>
    <td><%= render partial: "jobs/set_link_with_size", locals: { set: view_model.job_revised_output_set } %></td>
  <% elsif view_model.show_revise_set_button? %>
    <td>
      <%= link_to job_revise_output_url(view_model.job, format: :js), { "data-behavior": "revise_set" } do %>
        <span class="label label-primary">Revise Set</span>
      <% end %>
    </td>
  <% elsif view_model.show_revise_column? %>
    <td></td>
  <% end %>

  <% if view_model.show_check_box_column? %>
    <td><%= check_box_tag('job_ids[]', view_model.job_id, true) if view_model.show_check_box? %></td>
  <% end %>
</tr>