<% content_for :main_title do %>
My Work Plans
<% end %>

<% content_for :title_button do %>
  <%= link_to 'Order work', work_plans_path, method: 'post',
        class: 'btn btn-success pull-right',
        style: "margin-top: 23px" %>
<% end %>


<div class="row">
  <div class="col-md-12">
    <h4>Pending</h4>
    <p>These work plans haven't yet had their first work order dispatched. Partially created work plans are saved here for you.</p>
    <% if @in_construction_plans.length == 0 %>
      <p>You don't have any pending Work Plans.</p>
    <% else %>
      <%= render "work_plans_table", work_plans: @in_construction_plans, group: 'construction' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>In Progress</h4>
    <p>These work plans have work orders that have been dispatched to Scientific Operations. Once they complete or cancel your
      work order you will be able to dispatch the next one.</p>
      <% if @active_plans.length == 0 %>
        <p>None of your Work Plans are currently in progress.</p>
      <% else %>
        <%= render "work_plans_table", work_plans: @active_plans, group: 'active' %>
      <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Finished Work Plans</h4>
    <p>These work plans have had all of their work orders completed or cancelled by Scientific Operations.</p>
    <% if @closed_plans.length == 0 %>
      <p>You don't have any finished Work Plans.</p>
    <% else %>
      <%= render "work_plans_table", work_plans: @closed_plans, group: 'closed' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Cancelled</h4>
    <p>These work plans are those which you have cancelled.</p>
    <% if @cancelled_plans.length == 0 %>
      <p>You don't have any cancelled Work Plans.</p>
    <% else %>
      <%= render "work_plans_table", work_plans: @cancelled_plans, group: 'cancelled' %>
    <% end %>
  </div>
</div>
