<div class="row">
  <div class="col-md-12">
    <h3><%= title %></h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-2 col-xs-offset-1 bs-wizard-step <%= step_classes(1) %>">
    <div class="text-center">Set</div>
    <div class="progress">
      <div class="progress-bar"></div>
    </div>
    <a href="#" class="step-indicator"></a>
  </div>

  <div class="col-xs-2 bs-wizard-step <%= step_classes(2) %>">
    <div class="text-center">Project</div>
    <div class="progress">
      <div class="progress-bar"></div>
    </div>
    <a href="#" class="step-indicator"></a>
  </div>

  <div class="col-xs-2 bs-wizard-step <%= step_classes(3) %>">
    <div class="text-center">Product</div>
    <div class="progress">
      <div class="progress-bar"></div>
    </div>
    <a href="#" class="step-indicator"></a>
  </div>

  <div class="col-xs-2 bs-wizard-step <%= step_classes(4) %>">
    <div class="text-center">Cost</div>
    <div class="progress">
      <div class="progress-bar"></div>
    </div>
    <a href="#" class="step-indicator"></a>
  </div>

  <div class="col-xs-2 bs-wizard-step <%= step_classes(5) %>">
    <div class="text-center">Confirm</div>
    <div class="progress">
      <div class="progress-bar"></div>
    </div>
    <a href="#" class="step-indicator"></a>
  </div>
</div>
