<h4><%= product.name %></h4>
Description: <%= product.description %><br>
TAT: <%= product.TAT %><br>
Requested biomaterial type: <%= product.requested_biomaterial_type %><br>
Availability: <%= product.availability %><br>
Cost per sample: <%= product.cost_per_sample %><br>
