<%= render partial: 'order_header', locals: { title: "Step 3: Select Product" , progress: 49 } %>

<%= bootstrap_form_for work_order, url: wizard_path, method: :put  do |f| %>

	<%= f.form_group :product_id do %>
		<% get_current_catalogues.each do |c| %>
			<h4><%= c.pipeline %></h4>
		   	<% c.products.each do |p| %>
                <% if p.suspended? %>
                    <div class="radio disabled text-muted">
                <% else %>
                    <div class="radio">
                <% end %>
		   		<%= f.radio_button :product_id, p.id, label: p.name, disabled: p.suspended? %>
					Cost per sample: <%= number_to_currency(p.cost_per_sample, unit:'£') %><br>
					Requested biomaterial type: <%= p.requested_biomaterial_type %><br>
					Product version: <%= p.product_version %><br>
					TAT: <%= p.TAT %><br>
					Description: <%= p.description %><br>
					Availability: <%= p.availability_text %><br>
					Product class: <%= p.product_class_text %>
                </div>
		   	<% end %>

	    <% end %>
    <% end %>

    <%= f.text_field :comment %>
    <%= f.text_field :desired_date, data: { behavior: "datepicker" } %>

  <%= render 'buttons', work_order: work_order, f: f %>

<% end %>

