<%= render partial: 'order_header', locals: { title: "Step 3: Select Product" , progress: 49 } %>

<%= bootstrap_form_for work_order, url: wizard_path, method: :put  do |f| %>

  <%= f.select :product_id, grouped_options_for_select(get_current_catalogues_with_products, work_order.product_id),
    { label: "Choose a product:" },
    { class: "selectpicker", id: "product-select", num_of_samples: work_order.num_samples } %>

  <div id="product-information" style="display:none">
    <%= render 'product' %>
  </div>

  <div id="cost-information" style="display:none">
    <%= render 'cost' %>
  </div>

  <%= f.text_field :comment, label: 'Please add any advisory notes for the operations team' %>
  <%= f.text_field :desired_date, data: { behavior: "datepicker" } %>

  <%= render 'buttons', work_order: work_order, f: f %>

<% end %>