<%= render partial: 'order_header' %>

<%= bootstrap_form_for work_order, url: wizard_path, method: :put  do |f| %>

  <div id='injected_product_info'></div>

  <input type='hidden' disabled='disabled' id="work-order-id" value="<%= work_order.id %>" />
  <input type='hidden' disabled='disabled' id="num-of-samples" value="<%= work_order.num_samples %>" />

  <%= react_component('ProductDescription', {data: get_current_catalogues_with_products}) %>

  <%= f.text_field :comment, label: 'Please add any advisory notes for the operations team' %>
  <%= f.text_field :desired_date, data: { behavior: "datepicker" } %>

  <%= render 'buttons', work_order: work_order, f: f %>

<% end %>
