<%= render partial: 'order_header', locals: { title: "Step 4: Confirm Order" , progress: 80 } %>

<%= bootstrap_form_for work_order, url: wizard_path, method: :put  do |f| %>

  <%= f.hidden_field :id %>

  <h2><%= item.product.name %></h2>

  <table class="table table-striped">

    <tbody>
      <% item.item_option_selections.each do |ios| %>
        <tr>
          <td><%= ios.product_option.name %></td>
          <td><%= ios.product_option_value.value %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

  <%= render 'buttons', work_order: work_order, f: f %>

<% end %>