<%= render partial: 'order_header' %>

<%= bootstrap_form_for work_order, url: wizard_path, method: :put  do |f| %>

  <%= f.hidden_field :id %>

  <h4>Work Order <%= work_order.id %></h2>

  <%= render 'work_orders' %>
  <%= render 'sets' %>
  <%= render 'products' %>
  <%= render 'proposals' %>
  <%= render 'total_cost' %>

  <%= render 'buttons', work_order: work_order, f: f %>

<% end %>
