<%= render partial: 'plan_header' %>

<%= bootstrap_form_for view_model.work_plan, url: wizard_path, method: :put  do |f| %>

  <p>These are the active Sequencescape studies that you follow, manage or created.
    Please select one to be used as the Data Release Strategy for this Work Plan.
  To search the list, use your browsers "Find" functionality with Cmd (or Ctrl) + F</p>
  <table class="table table-striped table-condensed radio-table" id="data-release-list-table">
    <thead>
      <tr>
        <th></th>
        <th>Study Code</th>
        <th>Study Name</th>
      </tr>
    </thead>

    <tbody>
      <%= render view_model.data_release_strategies, f: f, selected_id: view_model.work_plan_drs_id, disabled: !view_model.form_enabled? %>
    </tbody>
  </table>

  <% content_for :title_button do %>
    <small class="pull-right" style="margin-top: 10px; color: white"><%= Rails.application.config.sequencescape_url %></small>
  <% end %>

  <%= render 'buttons', work_plan: work_plan, f: f %>

<% end %>
