<%= render partial: 'plan_header' %>

<%= bootstrap_form_for work_plan, url: wizard_path, method: :put  do |f| %>

  <%= f.hidden_field :id %>

  <h2>Work Plan <%= work_plan.id %></h2>
  <h5><%= work_plan.product.name %></h5>
  <h6>Created: <%= work_plan.created_at.strftime('%d/%m/%y') %></h6>
  <h6>Desired Date: <%= work_plan.desired_date %></h6>
  <h6>Project: <%= work_plan.project.name %>
  <p>
  <%= f.text_field :comment, label: 'Comment' %>

  <%= render 'products_accordion' %>

  <%= render 'buttons', work_plan: work_plan, f: f %>

<% end %>
