<%= render partial: 'plan_header' %>

<%= bootstrap_form_for work_plan, url: work_plan_dispatch_url, method: :put  do |f| %>

  <br />

  <%= render "work_plans/summary_panel", view_model: view_model.summary_panel %>

  <div class="row">
    <div class="col-md-10">
      <h4>Comments</h4>
      <%= f.text_field :comment, label: 'Enter any comments you wish to be visible to Scientifc Operations', disabled: !view_model.form_enabled? %>
    </div>
    <div class="col-md-2">
      <h4>Priority</h4>
      <%= f.check_box :priority, { label: 'High priority', disabled: !view_model.form_enabled? }, "high", "standard" %>
    </div>
  </div>

  <% if view_model.form_enabled? %>
    <%= f.submit 'Start Work Plan', class: 'btn btn-success btn-block' %>
  <% end %>

<% end %>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <h3>Processes</h3>

  <%= render partial: "aker/processes/process", collection: view_model.processes, as: :view_model, locals: { work_plan: work_plan, unit_prices: unit_prices_for_work_plan(work_plan) } %>
</div>

<%= render 'buttons', work_plan: work_plan %>
