<tr>
  <td><%= work_order.item.product.name %></td>
  <td><%= work_order.updated_at %></td>
  <td>
    <% if work_order.active? %>

      <%= link_to 'View', work_order_path(work_order), class: 'btn btn-default' %>

    <% else %>

      <%= link_to 'Continue', work_order_build_path(id: work_order.status, work_order_id: work_order.id), class: 'btn btn-primary' %>

      <%= link_to 'Cancel', work_order,
            method: :delete,
            class: 'btn btn-danger',
            data: { confirm: 'Are you sure you wish to cancel this work order?' } %>

    <% end %>
  </td>
</tr>