<% input_set = work_order.set&.name || work_order.original_set&.name || 'none' %>

<% output_set = work_order.finished_set&.name || 'none' %>

<% if [work_order.set_uuid, work_order.original_set_uuid].compact.uniq.length==2 %>
  <% original_set = work_order.original_set.name %>
<% else %>
  <% original_set = nil %>
<% end %>

<div>
  <div class="row">
    <div class="col-md-6"><b><%= work_order.name %></b></div>
    <div class="col-md-6">Dispatch Date: <%= work_order.dispatch_date %></div>
  </div>
  <div class="row">
    <div class="col-md-6">Input Set: <%= input_set %></div>
    <div class="col-md-6">Output Set: <%= output_set %></div>    
  </div>
  <div class="row">
    <div class="col-md-6">
      <% if original_set %>
        Based on original set: <%= original_set %>
      <% end %>
    </div>
    <div class="col-md-6">
      <% if work_order.completion_date %>
        Completion Date: <%= work_order.completion_date %>
      <% else %>
        Estimated Completion Date: <%= work_order.estimated_completion_date %>
      <% end %>
    </div>
  </div>
</div>

<%= bootstrap_form_for work_plan, url: wizard_path, method: :put  do |f| %>
  <% enabled = work_order.queued? %>
  <%= react_component('WorkOrderProcess', { index: index, work_order_id: work_order.id, pro: { name: work_order.process.name, links: work_order.process.build_available_links, path: work_order.selected_path, enabled: work_order.queued? } }) %>

  <% if work_order.can_be_dispatched? %>
    <%= f.submit "Dispatch", class: "btn btn-success pull-right", style: "margin-top: 10px;", value: "dispatch" %>
  <% end %>
  <% if enabled %>
    <%= f.submit "Save", class: "btn btn-primary pull-right", style: "margin-right: 10px; margin-top: 10px;", value: "save" %>
  <% end %>

<% end %>
