<div class="row">
	<div class="col-md-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Product</th>
					<th>Product version</th>
					<th>Cost per sample</th>
					<th>Biomaterial Type</th>
					<th>Total TAT</th>
					<th>Description</th>
					<th>Product Class</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= work_order.product.name %></td>
					<td><%= work_order.product.product_version %></td>
					<td><%= number_to_currency(work_order.cost_per_sample, unit:'£') %></td>
					<td><%= work_order.product.requested_biomaterial_type %></td>
					<td><%= work_order.total_tat %></td>
					<td><%= work_order.product.description %></td>
					<td><%= work_order.product.product_class_text %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Process Module</th>
					<th>Position</th>
				</tr>
			</thead>
			<tbody>
				<% work_order.work_order_module_choices.each do |mod| %>
				  <tr><td><%= mod.process_module.name %></td><td><%= mod.position %></td></li>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
