<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <h3>Work Orders</h3>
  <div class="row">
    <div class="col-md-6">
      <p>A work order has been created for each of the processes from your selected product.
      You can dispatch them to Scientific Operations sequentially, i.e the first
      must be completed before you can dispatch the second. Changes can be made to
      the process modules within a work order at any point before you dispatch it.</p>
    </div>
    <div class="col-md-6">
      Status Meanings:
      <ul>
        <li>Ready for Dispatch:</li>
        <li>Queued:</li>
        <li>Active:</li>
      </ul>
    </div>
  </div>

  <% work_plan.work_orders.each_with_index do |work_order, i| %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading<%=i%>">
        <h4 class="panel-title">
          <%= work_order.process.name %>
          <span class="pull-right">
            Work Order
            <% if work_order.can_be_dispatched? %>
              <%= " #{work_order.id} [READY FOR DISPATCH]"%>
            <% elsif %>
              <%= " #{work_order.id} [#{work_order.status.upcase}]" %>
            <% end %>
          </span>
        </h4>
      </div>
         <div class="panel-body">
            <%= render 'accordion_body', work_order: work_order, index: i %>
         </div>
    </div>
    <br>
  <% end %>
 </div>
