<div class="row">
	<div class="col-md-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Product</th>
					<th>Product UUID</th>
					<th>Product version</th>
					<th>Cost per sample</th>
					<th>Biomaterial Type</th>
					<th>TAT</th>
					<th>Description</th>
					<th>Product Class</th>
					<th>Availability</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= work_order.product.name %></td>
					<td><%= work_order.product.product_uuid %></td>
					<td><%= work_order.product.product_version %></td>
					<td><%= number_to_currency(work_order.product.cost_per_sample, unit:'£') %></td>
					<td><%= work_order.product.requested_biomaterial_type %></td>
					<td><%= work_order.product.TAT %></td>
					<td><%= work_order.product.description %></td>
					<td><%= work_order.product.product_class_text %></td>
					<td><%= work_order.product.availability_text %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>