<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Input Set</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= work_order.original_set.name %></td>
          <td><%= link_to 'View', "#{Rails.configuration.urls[:sets]}/simple/sets/#{work_order.original_set_uuid}", class: 'btn btn-default', style: "margin-right: 10px;" %>
            <%= link_to 'Order Work', work_orders_path(set_id: work_order.original_set_uuid), method: 'post', class: 'btn btn-success' %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<% if work_order.closed? %>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Output Set</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if work_order.material_updated %>
        <tr>
          <td>[Updated Metadata] <%= work_order.original_set.name %></td>
          <td><%= link_to 'View', "#{Rails.configuration.urls[:sets]}/simple/sets/#{work_order.original_set_uuid}", class: 'btn btn-default', style: "margin-right: 10px;" %>
            <%= link_to 'Order Work', work_orders_path(set_id: work_order.original_set_uuid), method: 'post', class: 'btn btn-success' %></td>
        </tr>
        <% end %>
        <% if work_order.finished_set %>
        <tr>
          <td><%= work_order.finished_set.name %></td>
          <td><%= link_to 'View', "#{Rails.configuration.urls[:sets]}/simple/sets/#{work_order.finished_set_uuid}", class: 'btn btn-default', style: "margin-right: 10px;" %>
            <%= link_to 'Order Work', work_orders_path(set_id: work_order.finished_set_uuid), method: 'post',  class: 'btn btn-success' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>
